
* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: Roboto, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* NavBar */
.containerall{
    height: 70px;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
form{
    background-color:lightgrey;
    width: 600px;
    height: 55px;
    display: flex;
    flex: 1;
    border: none;
    outline: none;
    border-radius: 20%;
}
.A{
    position: relative;
    left: 60px;
}

/* Sidebar */
.sidebar {
}


.sidenav {
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 100%;
    width: 15%;
    background-color: rgb(255, 255, 255);
    overflow-x: scroll;
    transition: 0.5s;
    padding-top: 20px;
    color: black;
    position: fixed;

}

.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    text-align: left;
    align-items: self-start;
    flex-direction: vertical;
}
.sidenav p{
    padding: 8px 8px 8px 20px;
    font-weight: bold;
}
.sidenav a img{
     margin-right: 10px;
     position: relative;
     top:6px;
}
.sidenav a:hover {
    background-color: #818181;
    color: #818181;
    text-decoration-color: none;
    border-radius: 30px;
    -webkit-text-fill-color: black;
}

.Arrow{
    position: absolute;
    top: 150px;
}

.main {
    transition: margin-left .5s;
    padding: 16px
}
.AboutNews{
    padding: 8px 8px 8px 0;
    font-size: 13px;
    color: #606060;
}
/* Body Page */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 70px;
}


.containerBody {
    display: flex;
    width: 83%;
    flex-direction: column;
    margin-left: 260px;

}
.options{
    display: flex;
    position: fixed;
    background-color: brown;
    width: 100%;
    h
}
.optionButton, .All-button {
    border-radius: 10px;
    padding: 0px 12px;
    margin: 12px 12px 12px 0;
    height: 32px;
    font-size: 14px;
    background-color: #ededed;
    border: none;
}

.All-button {
    background-color: black;
    color: white;
}
.preveiws{
    background-color: aquamarine;
    margin-top: 57px;
}

.grid1 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 45px;
}

.video {
    width: 372.25px;
}

.thumbnail {
    height: 209.39px;
    width: 372.25px;
}

.text {
    margin-top: 12px;
    display: flex;
}

.profile {
    margin-right: 12px;
}

.description {
    line-height: 20px;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.subtitle {
    color: #606060;
    font-size: 14px;
}

.shortsTitleDiv {
    margin: 50px 0 30px 0;
    display: flex;

}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 14.5px;
    width: 1000px;
}

.ShortsLogo {
    height: 33px;
}

.ShortsTitle {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.exit {
    height: 33px;
    margin-left: 1050px;
}

.shorts {
    width: 225px;
    border-radius: 15px;
}

.line1 {
    position: absolute;
    top: 1520px;
    width: 440px;
}

.Show-more {
    margin-top: 20px;
    width: 340px;
    height: 34.4px;
    background-color: white;
    border: 2px #EDEDED solid;
    margin-left: 440px;
}

.ArrowHead {
    width: 20px;
    position: absolute;
    top: 1514px;
    left: 940px;
}

.line2 {
    position: absolute;
    top: 1520px;
    width: 400px;
    left: 1040px;
}

.grid3 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 45px;
}
